<div class="row">
    <header class="col-md-12">
        <h1>Astronomy & Space News</h1>
    </header>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="articles"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 offset-1 comment-con">
        <div id="comment-input"></div>
    </div>
</div>